# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
ENV/
.venv/

# Environment variables
.env

# Streamlit cache
.streamlit/

# macOS files
.DS_Store

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.swp